<head>
  {{ $current := . }}
  {{ $styles := resources.Get "scss/examples/fonts/fonts-2/_index.scss" | css.Sass (dict "outputStyle" "compressed") | fingerprint }}
  <link rel="stylesheet" href="{{ $styles.Permalink }}" />
</head>
<body>
  <h1>Using fallback and not local</h1>
  {{ $items := $current.Params.items }}
  {{ range $items }}
    <p class="{{.class}}">
      <span class="underline block">{{.class}}</span>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta nihil quia, animi in optio quibusdam nobis aperiam unde quas
    </p>
  {{ end }}
</body>
