.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    // background-color: rgba(0, 0, 0, 0.48);
    background-color: rgba(0,0,0,0.3);
    .container {
        width: auto;
        padding: 20px 0;
        text-align: center;
    }
    .font-sm {
        font-size: .875rem;
        margin: 0;
        margin-bottom: 10px;
    }
    .font-xs {
        font-size: .75rem;
        margin: 0;
    }
    a {
        color: white;
        text-decoration: underline;
    }

    @media only screen and (max-width: 30em) {
        .font-sm {
            line-height: 20px;
        }
        .font-xs {
            line-height: 16px;
        }
    }
}