#section9 {
    .section-header {
        margin-bottom: 60px;
    }
    .card-counter {
        .desc {
            right: 35px;
            top: 65px;
            font-style: italic;
            // text-transform: capitalize;
            font-size: 18px;
            line-height: 23px;
            margin-left: 5px;
            font-weight: 300;
        }
    }
}