// .section-spacer {
//     background-color: $section2-background;
//     height: 50px;
//     width: 100%;
// }

.section {
    position: relative;
    z-index: 1;
    padding: 150px 0;
    text-align: center;
    &:nth-of-type(odd) {
        background-color:$section-background-1;
    }
    &:nth-of-type(even) {
        background-color:$section-background-2;
    }
    .section-header {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 40px;
        .section-logo-2 {
            height: 90px;
            width: 90px;
            margin-bottom: 15px;
            // border: 3px solid transparent;
            border-radius: 50%;
            border: 0px solid #9798998a;
            transition: border-width 0.2s linear;
        }
        .logo-link {
            height: 100px;
            width: 100px;
            margin-bottom: 15px;
            &:hover {
                .section-logo-2 {
                    // border: 3px solid #979899;
                    border-width: 3px;
                }
            }
        }
        .section-title {
            font-size: 48px;
            line-height: 48px;
            color: white;
            // font-weight: 900;
            font-weight: 700;
            text-transform: uppercase;
            padding: 0;
            // margin-bottom: 40px;
            .smaller {
                display: block;
                font-size: 29px;
                line-height: 35px;
                max-width: 79%;
                margin: 0 auto;
                padding-top: 14px;
                font-weight: 400;
                text-transform: none;
                letter-spacing: 1px;
            }
        }
    }
    .section-subtitle {
        font-size: 33px;
        line-height: 35px;
        .smaller {
            display: block;
            font-size: 27px;
            line-height: 30px;
            max-width: 79%;
            margin: 0 auto;
            padding-top: 14px;
            font-weight: 400;
            text-transform: none;
            letter-spacing: 1px;
        }
    }
    .section-logo {
        height: 90px;
        margin-right: 8px;
    }

    .card-hover-container {
        &.section-logo-container {
            position: relative;
            margin-bottom: 50px;
            z-index: 9;
            .section-logo {
                height: 130px;
                position: absolute;
                z-index: 99999;
            }
        }
    }
    @media only screen and (max-width: 30em) {
        .section-header {
            .section-title {
                font-size: 32px;
                line-height: 39px;
                .smaller {
                    font-size: 32px;
                    line-height: 39px;
                    font-size: 25px;
                    line-height: 29px;
                    max-width: 100%;
                }
            }
        }
        .section-subtitle {
            font-size: 27px;
            line-height: 28px;
            .smaller {
                font-size: 21px;
                line-height: 22px;
                padding-top: 11px;
                max-width: 100%;
            }
        }
        .card-hover-container {
            &.section-logo-container {
                .section-logo {
                    height: 100px;
                }
            }
        }
    }
}
@import "section1";
@import "section2";
@import "section3";
@import "section4";
@import "section5";
@import "section6";
@import "section7";
@import "section8";
@import "section9";
@import "section10";