$primary:   #00bfdf !default;
// $secondary: #24617f !default;
// $secondary-darker: #144d68 !default;

$secondary: #1f2426 !default;
$secondary-darker: #144d68 !default;


$intro-background: $secondary !default;

$section-background-1: $secondary-darker !default;
$section-background-2: $secondary !default;

$section1-zindex: 10;
$section2-zindex: 9;


$opacity: .5;
$font-base: 500;
$font-family-base: 'Lato', sans-serif;

$card-bg-color: #205e7c;
$card-bg-hover: #255972;

$vastari-color: #00bfdf;
