// $grid-breakpoints: (
//   xs: 0,
//   sm: 576px,
//   md: 768px,
//   lg: 992px,
//   xl: 1200px,
//   xxl: 1400px
// ) !default;

// $width: 96%;
// $gutter: 4%;
// $breakpoint-small: 33.75em; // 540px
// $breakpoint-med: 45em; // 720px
// $breakpoint-large: 60em; // 960px

$screen-xs: 0;
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1400px;