$primary: #555 !default;
$primaryLight: #666 !default;
$secondary: #daa520 !default;

$body-bg:  #efe9e9 !default;
$body-color: #656c6d !default;

$intro-section-bg: #fff !default;
$intro-section-color: $primaryLight !default;


// $primary: #555 !default;
// $primaryLight: #666 !default;
// $secondary: #ffb400 !default;

// $body-bg:  #111 !default;
// $body-color: #656c6d !default;

// $intro-section-bg: #222 !default;
// $intro-section-color: #fff !default;

$hover-swipe-primary: $intro-section-color !default;
$hover-swipe-secondary: $secondary !default;

