<div class="row views">
    <div class="col-md-10 col-md-offset-1 display home">
      <div class="row">
            <div class="col-md-5 display logo">
              
            </div>
            <div class="col-md-7 display gaPic">
              
            </div>

      </div>
      <div class="row">
            <div class="col-md-6 display codePic">
              
            </div>

            <div class="col-md-6 display intro">
              <div class="typer" data-text= "Hi! My name is Mishal, I am currently looking for a role as a Junior Web Developer."></div>

            </div>


      </div>
    </div>
</div>

<script type="text/javascript">
  var $typer = $('.typer'),
      txt = $typer.data("text"),
      tot = txt.length,
      ch  = 0;
  (function typeIt() {   
    if(ch > tot) return;
    $typer.text( txt.substring(0, ch++) );
    setTimeout(typeIt, ~~(Math.random()*(300-60+1)+60));
  }());
</script>