<footer class="footer" data-easy-reveal>
    <div class="container">
        <p class="font-sm">
            <span class="nowrap">Vastari.com © All rights reserved -</span>
            <a class="nowrap" href="https://www.vastari.com/terms_conditions.aspx" target="_blank">
                Terms &amp; Conditions
            </a>
            &nbsp;
            <a class="nowrap" href="https://www.vastari.com/safety_privacy.aspx" target="_blank">
                Security &amp; Privacy
            </a>
            &nbsp;
            <a class="nowrap" href="https://www.vastari.com/cookies_policy.aspx" target="_blank">
                Cookies Policy
            </a>
        </p>
        <p class="font-xs">
            Vastari.com is the trading name of Vastari Group Ltd registered in England and Wales.
            <span class="nowrap">Company Number: 09579433.</span>
        </p>
    </div>
</footer>