<div id="section9" class="section team">
    <div class="container">
        <div class="row center-xs" id="team-members">
            <div class="col-xs-12" data-easy-reveal>
                <div class="section-header">
                    <img class="section-logo-2" src="img/logos/vastari.png" />
                    <h2 class="section-title">
                        Our amazing team
                        <span class="smaller">
                            A group of people from around the world, working together to make magic happen
                        </span>
                    </h2>
                </div>
            </div>
            <div class="col-xs-7 col-sm-4" data-easy-reveal>
                <div id="team-member-1" class="team-member">
                    <div class="img-wrapper">
                        <img class="img-fluid" src="img/team/bernadine.jpg">
                    </div>
                    <div class="member-action">
                        <div class="job-title">
                            CEO and Founder
                        </div>
                        <a href="https://www.linkedin.com/in/bbvastari" target="_blank">
                            <i class="fab fa-linkedin"></i>
                        </a>
                    </div>
                    <div class="member-info">
                        <span class="name">Bernadine</span>
                    </div>
                </div>
            </div>
            <div class="col-xs-7 col-sm-4" data-easy-reveal>
                <div id="team-member-2" class="team-member">
                    <div class="img-wrapper">
                        <img class="img-fluid" src="img/team/francesca.jpg">
                    </div>
                    <div class="member-action">
                        <div class="job-title">
                            COO and Founder
                        </div>
                        <a href="https://www.linkedin.com/in/francesca-polo-6b20934b"
                            target="_blank">
                            <i class="fab fa-linkedin"></i>
                        </a>
                    </div>
                    <div class="member-info">
                        <span class="name">Francesca</span>
                    </div>
                </div>
            </div>
            <div class="col-xs-7 col-sm-4" data-easy-reveal>
                <div id="team-member-3" class="team-member">
                    <div class="img-wrapper">
                        <img class="img-fluid" src="img/team/jordi.jpg">
                    </div>
                    <div class="member-action">
                        <div class="job-title">
                            CTO
                        </div>
                        <a href="https://www.linkedin.com/in/jordi-cabeza-8824052b"
                            target="_blank">
                            <i class="fab fa-linkedin"></i>
                        </a>
                    </div>
                    <div class="member-info">
                        <span class="name">Jordi</span>
                    </div>
                </div>
            </div>
            <div class="col-xs-7 col-sm-4" data-easy-reveal>
                <div id="team-member-5" class="team-member">
                    <div class="img-wrapper">
                        <img class="img-fluid" src="img/team/marcela.jpg">
                    </div>
                    <div class="member-action">
                        <div class="job-title">
                            Collections Specialist
                        </div>
                        <a href="https://www.linkedin.com/in/marcelasilcorrea"
                            target="_blank">
                            <i class="fab fa-linkedin"></i>
                        </a>
                    </div>
                    <div class="member-info">
                        <span class="name">Marcela</span>
                    </div>
                </div>
            </div>
            <div class="col-xs-7 col-sm-4" data-easy-reveal>
                <div id="team-member-5" class="team-member">
                    <div class="img-wrapper">
                        <img class="img-fluid" src="img/team/ruby.jpg">
                    </div>
                    <div class="member-action">
                        <div class="job-title">
                            Exhibition Loans Specialist
                        </div>
                        <a href="https://www.linkedin.com/in/ruby-valentine-b5b07372/"
                            target="_blank">
                            <i class="fab fa-linkedin"></i>
                        </a>
                    </div>
                    <div class="member-info">
                        <span class="name">Ruby</span>
                    </div>
                </div>
            </div>
            <div class="col-xs-7 col-sm-4" data-easy-reveal>
                <div id="team-member-7" class="team-member">
                    <div class="img-wrapper">
                        <img class="img-fluid" src="img/team/mishal.jpg">
                    </div>
                    <div class="member-action">
                        <div class="job-title">
                            Frontend Developer
                        </div>
                        <a href="https://www.linkedin.com/in/mishalmsb" target="_blank">
                            <i class="fab fa-linkedin"></i>
                        </a>
                    </div>
                    <div class="member-info">
                        <span class="name">Mishal</span>
                    </div>
                </div>
            </div>
            <div class="col-xs-7 col-sm-4" data-easy-reveal>
                <div id="team-member-11" class="team-member">
                    <div class="img-wrapper">
                        <img class="img-fluid" src="img/team/andrea.jpg">
                    </div>
                    <div class="member-action">
                        <div class="job-title">
                            QA Test Engineer
                        </div>
                        <a href="https://www.linkedin.com/in/andrea-bozal-parejo-54342b96"
                            target="_blank">
                            <i class="fab fa-linkedin"></i>
                        </a>
                    </div>
                    <div class="member-info">
                        <span class="name">Andrea</span>
                    </div>
                </div>
            </div>
            <div class="col-xs-7 col-sm-4" data-easy-reveal>
                <div id="team-member-9" class="team-member">
                    <div class="img-wrapper">
                        <img class="img-fluid" src="img/team/lukas.jpg">
                    </div>
                    <div class="member-action">
                        <div class="job-title">
                            UX Designer
                        </div>
                        <a href="https://www.linkedin.com/in/hejtmaneklukas"
                            target="_blank">
                            <i class="fab fa-linkedin"></i>
                        </a>
                    </div>
                    <div class="member-info">
                        <span class="name">Lukas</span>
                    </div>
                </div>
            </div>
            <div class="col-xs-7 col-sm-4" data-easy-reveal>
                <div id="team-member-14" class="team-member">
                    <div class="img-wrapper">
                        <img class="img-fluid" src="img/team/lidia.JPG">
                    </div>
                    <div class="member-action">
                        <div class="job-title">

                        </div>
                        <a href="https://www.linkedin.com/in/l%C3%ADdia-embuena-mart%C3%ADn-7508ab36/"
                            target="_blank">
                            <i class="fab fa-linkedin"></i>
                        </a>
                    </div>
                    <div class="member-info">
                        <span class="name">Lídia</span>
                    </div>
                </div>
            </div>
            <div class="col-xs-7 col-sm-4" data-easy-reveal>
                <div id="team-member-8" class="team-member">
                    <div class="img-wrapper">
                        <img class="img-fluid" src="img/team/valeri.jpg">
                    </div>
                    <div class="member-action">
                        <div class="job-title">
                            Software Engineer
                        </div>
                        <a href="https://www.linkedin.com/in/erdoganmutlu"
                            target="_blank">
                            <i class="fab fa-linkedin"></i>
                        </a>
                    </div>
                    <div class="member-info">
                        <span class="name">Valeri</span>
                    </div>
                </div>
            </div>
            <div class="col-xs-7 col-sm-4" data-easy-reveal>
                <div id="team-member-14" class="team-member">
                    <div class="img-wrapper">
                        <img class="img-fluid" src="img/team/livia.jpg">
                    </div>
                    <div class="member-action">
                        <div class="job-title">
                            Exhibitions Specialist
                        </div>
                        <a href="https://www.linkedin.com/in/liviacdalvi/"
                            target="_blank">
                            <i class="fab fa-linkedin"></i>
                        </a>
                    </div>
                    <div class="member-info">
                        <span class="name">Livia</span>
                    </div>
                </div>
            </div>
            <div class="col-xs-7 col-sm-4" data-easy-reveal>
                <div id="team-member-6" class="team-member">
                    <div class="img-wrapper">
                        <img class="img-fluid" src="img/team/cristina.jpg">
                    </div>
                    <div class="member-action">
                        <div class="job-title">
                            Community Manager, Vastari Exhibitions
                        </div>
                        <a href="https://www.linkedin.com/in/cristina-gianetto-549a5247"
                            target="_blank">
                            <i class="fab fa-linkedin"></i>
                        </a>
                    </div>
                    <div class="member-info">
                        <span class="name">Cristina</span>
                    </div>
                </div>
            </div>
            <div class="col-xs-7 col-sm-4" data-easy-reveal>
                <div id="team-member-13" class="team-member">
                    <div class="img-wrapper">
                        <img class="img-fluid" src="img/team/edie.jpg">
                    </div>
                    <div class="member-action">
                        <div class="job-title">
                            Business Development Consultant, USA
                        </div>
                        <a href="https://www.linkedin.com/in/ediemeyer" target="_blank">
                            <i class="fab fa-linkedin"></i>
                        </a>
                    </div>
                    <div class="member-info">
                        <span class="name">Edie</span>
                    </div>
                </div>
            </div>
            <div class="col-xs-7 col-sm-4" data-easy-reveal>
                <div id="team-member-14" class="team-member">
                    <div class="img-wrapper">
                        <img class="img-fluid" src="img/team/sylvia.jpg">
                    </div>
                    <div class="member-action">
                        <div class="job-title">
                            Business Development Consultant, China
                        </div>
                        <a href="https://www.linkedin.com/in/xuhua-sylvia-zhan-a7b17419"
                            target="_blank">
                            <i class="fab fa-linkedin"></i>
                        </a>
                    </div>
                    <div class="member-info">
                        <span class="name">Xuhua</span>
                    </div>
                </div>
            </div>
            <div class="col-xs-7 col-sm-4" data-easy-reveal>
                <div id="team-member-14" class="team-member">
                    <div class="img-wrapper">
                        <img class="img-fluid" src="img/team/maryam.jpg">
                    </div>
                    <div class="member-action">
                        <div class="job-title">
                            Representative, MENA
                        </div>
                        <a href="https://www.linkedin.com/in/maryam-alwazzan-19b33669"
                            target="_blank">
                            <i class="fab fa-linkedin"></i>
                        </a>
                    </div>
                    <div class="member-info">
                        <span class="name">Maryam</span>
                    </div>
                </div>
            </div>
            <div class="col-xs-7 col-sm-4" data-easy-reveal>
                <div id="team-member-14" class="team-member">
                    <div class="img-wrapper">
                        <img class="img-fluid" src="img/team/vishal.jpg">
                    </div>
                    <div class="member-action">
                        <div class="job-title">
                            Data Scientist, Vastari Insights
                        </div>
                        <a href="https://www.linkedin.com/in/vishalkumarlondon/"
                            target="_blank">
                            <i class="fab fa-linkedin"></i>
                        </a>
                    </div>
                    <div class="member-info">
                        <span class="name">Vishal</span>
                    </div>
                </div>
            </div>
            <div class="col-xs-7 col-sm-4" data-easy-reveal>
                <div id="team-member-14" class="team-member">
                    <div class="img-wrapper">
                        <img class="img-fluid" src="img/team/francesca-g.jpg">
                    </div>
                    <div class="member-action">
                        <div class="job-title">
                            Author, Vastari Global Report
                        </div>
                        <a href="https://www.linkedin.com/in/francescaguerrera"
                            target="_blank">
                            <i class="fab fa-linkedin"></i>
                        </a>
                    </div>
                    <div class="member-info">
                        <span class="name">Francesca G</span>
                    </div>
                </div>
            </div>
            <div class="col-xs-7 col-sm-4" data-easy-reveal>
                <div id="team-member-14" class="team-member">
                    <div class="img-wrapper">
                        <img class="img-fluid" src="img/team/lindsay.jpg">
                    </div>
                    <div class="member-action">
                        <div class="job-title">
                            Author, Exhibition Finance Report
                        </div>
                        <a href="https://www.linkedin.com/in/lindsay-dewar-55953736/"
                            target="_blank">
                            <i class="fab fa-linkedin"></i>
                        </a>
                    </div>
                    <div class="member-info">
                        <span class="name">Lindsay</span>
                    </div>
                </div>
            </div>
            <div class="col-xs-7 col-sm-4" data-easy-reveal>
                <div id="team-member-14" class="team-member">
                    <div class="img-wrapper">
                        <img class="img-fluid" src="img/team/matthew.jpg">
                    </div>
                    <div class="member-action">
                        <div class="job-title">
                            Author, Market Sizing Supplement, Exhibition Finance Report
                        </div>
                        <a href="https://www.linkedin.com/in/matthew-hawkins-60043327/"
                            target="_blank">
                            <i class="fab fa-linkedin"></i>
                        </a>
                    </div>
                    <div class="member-info">
                        <span class="name">Matthew</span>
                    </div>
                </div>
            </div>
            <div class="col-xs-7 col-sm-4" data-easy-reveal>
                <div id="team-member-4" class="team-member">
                    <div class="img-wrapper">
                        <img class="img-fluid" src="img/team/phil.jpg">
                    </div>
                    <div class="member-action">
                        <div class="job-title">
                            CMO
                        </div>
                        <a href="https://www.linkedin.com/in/phil-anderson-00919b6b"
                            target="_blank">
                            <i class="fab fa-linkedin"></i>
                        </a>
                    </div>
                    <div class="member-info">
                        <span class="name">Phil</span>
                    </div>
                </div>
            </div>
            <div class="col-xs-7 col-sm-4" data-easy-reveal>
                <div id="team-member-10" class="team-member">
                    <div class="img-wrapper">
                        <img class="img-fluid" src="img/team/oliver.jpg">
                    </div>
                    <div class="member-action">
                        <div class="job-title">
                            Business and Data Analyst, Vastari Institutions
                        </div>
                        <a href="https://www.linkedin.com/in/oliver-hajjar-72308a9a"
                            target="_blank">
                            <i class="fab fa-linkedin"></i>
                        </a>
                    </div>
                    <div class="member-info">
                        <span class="name">Oliver</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row interns center-xs">
            <div class="col-xs-12 col-lg-11 card-counter" data-easy-reveal>
                <h2 class="count-numbers opacity">
                    And thank you to our great interns this year for their support as we grew and evolved.
                </h2>
            </div>
            <div class="col-xs-12 col-lg-8">
                <div class="intern d-flex middle-xs center-xs" data-easy-reveal>
                    <p>Gabby Pucci</p>
                </div>
                <div class="intern d-flex middle-xs center-xs" data-easy-reveal>
                    <p>Agnese Rapposelli</p>
                </div>
                <div class="intern with-desc d-flex middle-xs center-xs" data-easy-reveal>
                    <p>
                        Maryam Alwazzan
                        <br>
                        <span class="desc">
                            Who has now joined our team after completing her PhD
                        </span>
                    </p>
                </div>
                <div class="intern with-desc d-flex middle-xs center-xs" data-easy-reveal>
                    <p>
                        Livia Cunha
                        <br>
                        <span class="desc">
                            Who has now joined our team after completing her Master's degree!
                        </span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>