<div id="section3" class="section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12" data-easy-reveal>
                <div class="section-header">
                    <img class="section-logo-2" src="img/logos/vastari.png" />
                    <h2 class="section-title">
                        International Enterprise
                        <span class="smaller">
                            We're proud to be connecting the world, and to be representing the world
                        </span>
                    </h2>

                </div>
            </div>
            <div class="col-xs-12" data-easy-reveal>
                <div class="section-description relative">
                    <h4 class="font-base">
                        <span class="opacity italic">Our</span>
                        <a href="https://www.vastari.com/" target="_blank">users</a>
                        <span class="opacity italic">are from</span>
                        <span class="big">103</span>
                        <span class="opacity italic">Countries</span>
                    </h4>
                </div>
            </div>
            <div class="col-xs-12" data-easy-reveal>
                <div class="flags most">
                    <h4 class="font-base">
                        Most
                        <span class="opacity italic">engaged countries</span>
                    </h4>
                    <div class="flags-container">
                        <img src="img/flags/United-States.png" class="flag" title="United States">
                        <img src="img/flags/United-Kingdom.png" class="flag" title="United Kingdom">
                        <img src="img/flags/Italy.png" class="flag" title="Italy">
                        <img src="img/flags/France.png" class="flag" title="France">
                        <img src="img/flags/Netherlands.png" class="flag" title="Netherlands">
                        <img src="img/flags/Canada.png" class="flag" title="Canada">
                    </div>
                </div>
            </div>
            <div class="col-xs-12" data-easy-reveal>
                <div class="flags our">
                    <h4 class="font-base">
                        <span class="opacity italic">Our</span>
                        team
                        <span class="opacity italic">is from</span>
                    </h4>
                    <div class="flags-container">
                        <img src="img/flags/United-Kingdom.png" class="flag" title="United Kingdom">
                        <img src="img/flags/Spain.png" class="flag" title="Spain">
                        <img src="img/flags/Italy.png" class="flag" title="Italy">
                        <img src="img/flags/Turkey.png" class="flag" title="Turkey">
                        <img src="img/flags/Portugal.png" class="flag" title="Portugal">
                        <img src="img/flags/Czech-Republic.png" class="flag" title="Czech Republic">
                        <img src="img/flags/Dominican-Republic.png" class="flag" title="Dominican Republic">
                        <img src="img/flags/United-States.png" class="flag" title="United States">
                        <img src="img/flags/Brazil.png" class="flag" title="Brazil">
                        <img src="img/flags/Kwuait.png" class="flag" title="Kwuait">
                        <img src="img/flags/Netherlands.png" class="flag" title="Netherlands">
                        <img src="img/flags/China.png" class="flag" title="China">
                        <img src="img/flags/France.png" class="flag" title="France">
                        <img src="img/flags/Kazakhstan.png" class="flag" title="Kazakhstan">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>