<div id="section2" class="section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12" data-easy-reveal>
                <div class="section-header">
                    <img class="section-logo-2" src="img/logos/vastari.png" />
                    <h2 class="section-title">The Raw Facts</h2>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 card-hover-container" data-easy-reveal>
                <div class="card-hover">
                    <div class="icon">
                        <img src="img/icons/icons8-exhibition-100.png" class="opacity primary-icon">
                        <span class="title">695</span>
                    </div>
                    <span class="subtitle opacity">Loan &amp; Tour <br> Matches Facilitated</span>
                    <div class="up-info">
                        <img src="img/icons/arrow-up.svg" class="up-icon">
                        417
                    </div>
                    <span class="text">More than this time last year</span>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 card-hover-container" data-easy-reveal>
                <div class="card-hover">
                    <div class="icon">
                        <img src="img/icons/icons8-statue-64.png" class="opacity primary-icon">
                        <span class="title">336</span>
                    </div>
                    <span class="subtitle opacity">Requests <br> from Museums</span>
                    <div class="up-info">
                        <img src="img/icons/arrow-up.svg" class="up-icon">
                        160
                    </div>
                    <span class="text">More than this time last year</span>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 card-hover-container" data-easy-reveal>
                <div class="card-hover">
                    <div class="icon">
                        <img src="img/icons/icons8-university-128.png" class="opacity">
                        <span class="title">9,363</span>
                    </div>
                    <span class="subtitle">
                        <a href="https://institutions.vastari.com/"
                            target="_blank">
                            Institutions
                        </a>
                        <br>
                        &nbsp;
                    </span>
                    <div class="up-info">
                        <img src="img/icons/arrow-up.svg" class="up-icon">
                        484
                    </div>
                    <span class="text">More than this time last year</span>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 card-hover-container" data-easy-reveal>
                <div class="card-hover">
                    <div class="icon">
                        <img src="img/icons/icons8-exhibition-100.png" class="opacity">
                        <span class="title">413</span>
                    </div>
                    <span class="subtitle opacity">
                        Touring Exhibitions
                        <br>
                        available
                    </span>
                    <div class="up-info">
                        <img src="img/icons/arrow-up.svg" class="up-icon">
                        79
                    </div>
                    <span class="text">More than this time last year</span>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 card-hover-container" data-easy-reveal>
                <div class="card-hover">
                    <div class="icon">
                        <img src="img/icons/icons8-user-groups-64.png" class="opacity">
                        <span class="title">3,427</span>
                    </div>
                    <span class="subtitle opacity">Clients</span>
                    <div class="up-info">
                        <img src="img/icons/arrow-up.svg" class="up-icon">
                        1,039
                    </div>
                    <span class="text">More than this time last year</span>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 card-hover-container" data-easy-reveal>
                <div class="card-hover">
                    <div class="icon">
                        <img src="img/icons/icons8-address-book-80.png" class="opacity">
                        <span class="title">33,260</span>
                    </div>
                    <span class="subtitle opacity">Contacts</span>
                    <div class="up-info">
                        <img src="img/icons/arrow-up.svg" class="up-icon">
                        7,556
                    </div>
                    <span class="text">More than this time last year</span>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 card-hover-container" data-easy-reveal>
                <div class="card-hover">
                    <div class="icon">
                        <img src="img/icons/icons8-survey-50.png" class="opacity">
                        <span class="title">25</span>
                    </div>
                    <span class="subtitle opacity">Surveys <br> sent</span>
                    <div class="up-info">
                        <img src="img/icons/arrow-up.svg" class="up-icon">
                        10
                    </div>
                    <span class="text">More than this time last year</span>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 card-hover-container" data-easy-reveal>
                <div class="card-hover">
                    <div class="icon">
                        <img src="img/icons/icons8-exhibition-100.png" class="opacity">
                        <span class="title">7,975</span>
                    </div>
                    <span class="subtitle">
                        <span class="opacity">
                            Number of visitors
                            <br>
                            to our
                        </span>
                        <a href="https://blog.vastari.com/"
                            target="_blank">
                            Blog
                        </a>
                    </span>
                    <div class="up-info">
                        <img src="img/icons/arrow-up.svg" class="up-icon">
                        2,982
                    </div>
                    <span class="text">
                        More than this time last year
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>