<div id="section7" class="section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12" data-easy-reveal>
                <div class="section-header">
                    <img class="section-logo-2" src="img/logos/reports.png" />
                    <h2 class="section-title">
                        Report Success
                        <span class="smaller">
                            Developing surveys and analysis to improve the way we
                            understand our customers, and drive thought
                            leadership in the industry
                        </span>
                    </h2>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6" data-easy-reveal>
                <div class="card-counter backgrounded">
                    <div class="content">
                        <img src="img/icons/icons8-business-report-100.png" class="opacity">
                        <span class="count-numbers">4h 36m</span>
                    </div>
                    <span class="description opacity">
                        Our most engaged report reader
                    </span>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6" data-easy-reveal>
                <div class="card-counter backgrounded">
                    <div class="content">
                        <img src="img/icons/icons8-america-48.png" class="opacity">
                        <span class="count-numbers">
                            57 different countries
                        </span>
                    </div>
                    <span class="description opacity">
                        Geographies surveyed
                    </span>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6" data-easy-reveal>
                <div class="card-counter backgrounded">
                    <div class="content">
                        <img src="img/icons/icons8-google-translate-64.png" class="opacity">
                        <span class="count-numbers">
                            French, Spanish,
                            <br>
                            Arabic and Chinese
                        </span>
                    </div>
                    <span class="description opacity">
                        Languages our museum survey
                        <br>
                        was translated into
                    </span>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6" data-easy-reveal>
                <div class="card-counter backgrounded">
                    <div class="content">
                        <img src="img/icons/icons8-university-128.png" class="opacity">
                        <span class="count-numbers">
                            1,040
                            <br>
                            Institutions
                        </span>
                    </div>
                    <span class="description opacity">
                        New museums we've targetted
                        <br>
                        in our research
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>