<div id="section6" class="section">
    <div class="container">
        <div class="row middle-xs">
            <div class="col-xs-12" data-easy-reveal>
                <div class="section-header">
                    <img class="section-logo-2" src="img/logos/exhibitions.png" />
                    <h2 class="section-title">
                        Touring exhibitions successes
                        <span class="smaller">
                            Finding new venues for touring content using data-driven marketing
                        </span>
                    </h2>
                </div>
            </div>
            <div class="col-xs-12 card-counter applications m-0" data-easy-reveal>
                <div class="content m-0">
                    <img src="img/icons/icons8-exhibition-100.png" class="opacity">
                    <span class="count-numbers">89</span>
                </div>
                <span class="description opacity add-padding">
                    Number of applications
                    <br>
                    to exhibition requests
                </span>
                <!-- <div class="vertical-divider"></div> -->
            </div>
            <div class="col-xs-12 card-counter queries" data-easy-reveal>
                <h2 class="opacity">Most searched queries on exhibitions</h2>
                <span class="tag">Lego</span>
                <span class="tag">Mandela</span>
                <span class="tag">Leonardo</span>
                <span class="tag">Dreamworks</span>
                <span class="tag">Dinosaurs</span>
                <span class="tag">Rembrandt</span>
                <span class="tag">Picasso</span>
                <span class="tag">Photography</span>
                <span class="tag">Miro</span>
                <span class="tag">Science</span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12" data-easy-reveal>
                <h2 class="count-numbers opacity white-text center-text section-subtitle">
                    Most popular exhibitions
                </h2>
            </div>
        </div>

        <div class="col-xs-12">
            <div class="row middle-xs">
                <div class="col-xs-12 col-sm-6 portfolio-container" data-easy-reveal>
                    <a class="portfolio"
                        href="https://portal.vastari.com/public/exhibitions/0aaa7fe04a/ff3201152ffb4f0eb948d9c03baf64f7"
                        target="_blank">
                        <img class="img-responsive" src="img/exhibitions/Leonardo-Da-Vinci.jpg" alt="">
                        <div class="overlay">
                            <h2>Leonardo Da Vinci and His Wonder World</h2>
                        </div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6 portfolio-container" data-easy-reveal>
                    <a class="portfolio"
                        href="https://portal.vastari.com/public/exhibitions/19e2ebd841/ea812e12da6545c281b5531c7fd53e24"
                        target="_blank">
                        <img class="img-responsive" src="img/exhibitions/Wonderland.jpg" alt="">
                        <div class="overlay">
                            <h2>Wonderland</h2>
                        </div>
                    </a>
                </div>
                <div class="col-xs-12 portfolio-container" data-easy-reveal>
                    <a class="portfolio"
                        href="https://portal.vastari.com/public/exhibitions/73540e3ff5/e6cb665683ba4396a89deef563355f13"
                        target="_blank">
                        <img class="img-responsive" src="img/exhibitions/The-Art-of-DC-2.jpg" alt="">
                        <div class="overlay">
                            <h2>The Art of DC - The Dawn of Super Heroes (original title- Paris)</h2>
                        </div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6 portfolio-container" data-easy-reveal>
                    <a class="portfolio"
                        href="https://portal.vastari.com/public/exhibitions/609c612e72/03a7d79750784162b5b848f487df6d87"
                        target="_blank">
                        <img class="img-responsive" src="img/exhibitions/3D-Doubt-your-Eyes.jpg" alt="">
                        <div class="overlay">
                            <h2>3D Doubt your Eyes by World Touring Exhibitions</h2>
                        </div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6 portfolio-container" data-easy-reveal>
                    <a class="portfolio"
                        href="https://portal.vastari.com/public/exhibitions/9686d053e9/2a523ebd12324c418faa48ad74e8a14b"
                        target="_blank">
                        <img class="img-responsive" src="img/exhibitions/Golden-Mummies-of-Egypt.jpg" alt="">
                        <div class="overlay">
                            <h2>Golden Mummies of Egypt</h2>
                        </div>
                    </a>
                </div>
                <div class="col-xs-12 portfolio-container" data-easy-reveal>
                    <a class="portfolio"
                        href="https://portal.vastari.com/public/exhibitions/509d10de11/98481908bf2d4c36a470e206f1784c04"
                        target="_blank">
                        <img class="img-responsive" src="img/exhibitions/Travelling-Bricks-2.jpg" alt="">
                        <div class="overlay">
                            <h2>Travelling Bricks - Made of LEGO® Bricks</h2>
                        </div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6 portfolio-container" data-easy-reveal>
                    <a class="portfolio"
                        href="https://portal.vastari.com/public/exhibitions/bfa5143db8/2475c3cf4b0149e68e40898853cd4aab"
                        target="_blank">
                        <img class="img-responsive" src="img/exhibitions/UnEasy.jpg" alt="">
                        <div class="overlay">
                            <h2>UnEasy: Urban art & the Crash (2004-2010)</h2>
                        </div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6 portfolio-container" data-easy-reveal>
                    <a class="portfolio"
                        href="https://portal.vastari.com/public/exhibitions/064c22f76e/89669cfcb8d64ec78ec8f56b3e1ed075"
                        target="_blank">
                        <img class="img-responsive" src="img/exhibitions/PABLO-PICASSO.jpg" alt="">
                        <div class="overlay">
                            <h2>PABLO PICASSO - The Mark of a Genius</h2>
                        </div>
                    </a>
                </div>
                <div class="col-xs-12 portfolio-container" data-easy-reveal>
                    <a class="portfolio"
                        href="https://portal.vastari.com/public/exhibitions/8edbeb949a/4c6359d4fde24c6f9bf71677d5eeaef6"
                        target="_blank">
                        <img class="img-responsive" src="img/exhibitions/Geometric-Obsession-2.jpg" alt="">
                        <div class="overlay">
                            <h2>Geometric Obsession</h2>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>