<div id="section10" class="section intro-page relative">
    <div class="block container center-text" data-easy-reveal>
        {% include "parts/_intro-logo.html" %}
        <br>
        <div class="intro-text">
            <h1>Onwards and upwards!</h1>
            <h1>to 2020</h1>
            <p class="title-desc">

            </p>
            <div class="title-3 mb-0 mb-md-3 mb-lg-0">
                Previous reports
                <a class="text-white text-underline" href="https://www.vastari.com/annual-report/2016/"
                    target="_blank">
                    2016
                </a>
                |
                <a class="text-white text-underline" href="https://www.vastari.com/annual-report/2017/"
                    target="_blank">
                    2017
                </a>
                |
                <a class="text-white text-underline" href="https://www.vastari.com/annual-report/2018/"
                    target="_blank">
                    2018
                </a>
            </div>
        </div>
    </div>
    {% include "parts/_footer.html" %}
</div>
