<div id="section5" class="section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12" data-easy-reveal>
                <div class="section-header">
                    <img class="section-logo-2" src="img/logos/collections.png" />
                    <h2 class="section-title">
                        Successes for our collectors
                        <span class="smaller">
                            Connecting works in private collections with museums for exhibition loans
                        </span>
                    </h2>
                </div>
            </div>
            <div class="col-xs-12" data-easy-reveal>
                <h2 class="count-numbers opacity white-text center-text section-subtitle" style="margin-bottom: 15px;">
                    Some of the places
                    <br>
                    where we placed objects
                </h2>
            </div>
            <div class="col-xs-12" style="margin-bottom: 15px;">
                <div class="row middle-xs">
                    <div class="col-xs-12 col-sm-4 portfolio-container" data-easy-reveal>
                        <div class="portfolio">
                            <img class="img-responsive" src="img/collections/aros.jpg" alt="">
                            <div class="overlay">
                                <h2>ARoS Aarhus Kunstmuseum (Denmark)</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 portfolio-container" data-easy-reveal>
                        <div class="portfolio">
                            <img class="img-responsive" src="img/collections/RCP.png" alt="">
                            <div class="overlay">
                                <h2>Royal College of Physicians Museum (London)</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 portfolio-container" data-easy-reveal>
                        <div class="portfolio">
                            <img class="img-responsive" src="img/collections/Kunsthalle.jpg" alt="">
                            <div class="overlay">
                                <h2>Kunsthalle Tübingen (Germany)</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 card-counter m-0" data-easy-reveal>
                <div class="content">
                    <img src="img/icons/icons8-survey-50.png" class="opacity">
                    <span class="count-numbers">122</span>
                </div>
                <span class="description opacity add-padding">
                    Collectors who responded
                    <br>
                    to our survey
                </span>
            </div>
            <div class="col-xs-12 col-sm-6 card-counter m-0" data-easy-reveal>
                <div class="content">
                    <img src="img/icons/icons8-university-128.png" class="opacity">
                    <span class="count-numbers">125</span>
                </div>
                <span class="description opacity add-padding">
                    Number of applications
                    <br>
                    to museum requests
                </span>
            </div>

            <div class="col-xs-12 card-counter queries" data-easy-reveal>
                <h2 class="count-numbers opacity section-subtitle m-0 pt-0">Most searched queries on objects</h2>
                <span class="tag">Warhol</span>
                <span class="tag">Bird</span>
                <span class="tag">Money</span>
                <span class="tag">Picasso</span>
                <span class="tag">Portrait</span>
                <span class="tag">Women</span>
                <span class="tag">Hyperrealism</span>
                <span class="tag">Albers</span>
                <span class="tag">Photography</span>
            </div>

            <div class="col-xs-12 card-counter queries" data-easy-reveal>
                <h2 class="count-numbers opacity white-text section-subtitle m-0 pt-0">
                    Most popular museum requests
                </h2>
                <span class="tag">
                    <img class="opacity" src="img/icons/icons8-painting-apple-50.png">
                    Paintings that feature Apples
                </span>
                <span class="tag">
                    <img class="opacity" src="img/icons/icons8-skull-128.png">
                    Vanitas works
                </span>
                <span class="tag">
                    <img class="opacity" src="img/icons/icons8-around-the-globe-100.png">
                    Immigration
                </span>
            </div>
        </div>
    </div>
</div>