<div id="section1" class="section intro-page">
    <div class="block container center-text">
        {% include "parts/_intro-logo.html" %}
        <br>
        <div class="intro-text">
            <h1 class="big-title">Vastari Annual Report 2019</h1>
            <p class="title-desc">
                We believe that to share art, knowledge and culture is to keep it alive
            </p>
            <p class="exhibitions-connected">
                Exhibitions, Connected
            </p>
        </div>
    </div>
    <p class="scroll-down">
        <a href="#complements" class="animate" onclick="scrollToSecondSection()">
            More
        </a>
    </p>
</div>