<div id="section4" class="section">
    <div class="container">
        <div class="row center-xs">
            <div class="col-xs-12" data-easy-reveal>
                <div class="section-header">
                    <a class="logo-link" href="https://www.vastari.com/" target="_blank">
                        <img class="section-logo-2" src="img/logos/vastari.png" />
                    </a>
                    <h2 class="section-title">
                        About the Tech
                        <span class="smaller">
                            Using technology tools to enable our business practices
                        </span>
                    </h2>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-4 card-counter" data-easy-reveal>
                <div class="content">
                    <img src="img/icons/icons8-email-64.png" class="opacity">
                    <span class="count-numbers">36%</span>
                </div>
                <span class="description opacity add-padding">
                    Overall email campaign
                    <br>
                    open rate
                </span>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-4 card-counter" data-easy-reveal>
                <div class="content">
                    <img src="img/icons/icons8-left-click-128.png" class="opacity">
                    <span class="count-numbers">5%</span>
                </div>
                <span class="description opacity add-padding">
                    Overall email
                    <br>
                    click-through rate
                </span>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-4 card-counter" data-easy-reveal>
                <div class="content">
                    <img src="img/icons/icons8-sent-64.png" class="opacity">
                    <span class="count-numbers">229,494</span>
                </div>
                <span class="description opacity add-padding">
                    Emails
                    <br>
                    sent
                </span>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-4 card-counter" data-easy-reveal>
                <div class="content">
                    <img src="img/icons/icons8-slack-50.png" class="opacity">
                    <span class="count-numbers">128,488</span>
                </div>
                <span class="description opacity add-padding">
                    Slack messages
                    <br>
                    sent
                </span>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-4 card-counter" data-easy-reveal>
                <div class="content">
                    <img src="img/icons/icons8-video-message-50.png" class="opacity">
                    <span class="count-numbers">764</span>
                </div>
                <span class="description opacity add-padding">
                    Google Hangouts
                    <br>
                    organised
                </span>
            </div>
        </div>
        <div class="row center-xs">
            <div class="col-xs-12 card-counter queries" data-easy-reveal>
                <h2 class="opacity section-subtitle m-0">
                    Features Released
                    <span class="smaller">
                        We've been working to improve the user experience on our platform
                    </span>
                </h2>
            </div>
            <div class="col-xs-12 col-sm-6 portfolio-container" data-easy-reveal>
                <div class="portfolio">
                    <img class="img-responsive" src="img/feature-released/exhibitions-search.png" alt="">
                    <div class="overlay">
                        <h2>
                            Exhibitions search
                            <span class="desc">
                                Updated the way you can find touring exhibitions on
                                our platform based on your budget, space or theme requirements
                            </span>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 portfolio-container" data-easy-reveal>
                <div class="portfolio">
                    <img class="img-responsive" src="img/feature-released/exhibitions-request.png" alt="">
                    <div class="overlay">
                        <h2>
                            Requests
                            <span class="desc">
                                An improved way for museums to request object loans and
                                touring exhibitions, and smart matching between content and requests
                            </span>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 portfolio-container" data-easy-reveal>
                <div class="portfolio">
                    <img class="img-responsive" src="img/feature-released/reports.png" alt="">
                    <div class="overlay">
                        <h2>
                            Reports
                            <span class="desc">
                                The world's first reports on the touring exhibition industry,
                                using anonymised information from Vastari's museum users
                            </span>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 portfolio-container" data-easy-reveal>
                <div class="portfolio">
                    <img class="img-responsive" src="img/feature-released/messaging.png" alt="">
                    <div class="overlay">
                        <h2>
                            Messaging
                            <span class="desc">
                                Improved encrypted messaging service between users,
                                providing a more streamlined experience and file management system
                            </span>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 portfolio-container" data-easy-reveal>
                <div class="portfolio">
                    <img class="img-responsive" src="img/feature-released/object-search.png" alt="">
                    <div class="overlay">
                        <h2>
                            Collections search
                            <span class="desc">
                                New featured search terms show museums what's popular
                                on the platform, and allows Vastari to feature relevant
                                content to the curators from the private collections on the platform
                            </span>
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>