{{ "<!-- plugins -->" | safeHTML }}
{{ range site.Params.externalPlugins.css }}
  <link rel="stylesheet" href="{{ .link | relURL }} ">
{{ end }}


{{ "<!-- Main Stylesheet -->" | safeHTML }}
{{ $style := resources.Get "scss/main.scss" | css.Sass (dict "outputStyle" "compressed") | fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink }}" />



{{/*  <link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
  integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
  crossorigin="anonymous"
/>  */}}
