<!DOCTYPE html>
<html lang="en">

  {% include "parts/_head.html" %}

<body>
  <div class="main">

      <table class="doc-loader">
          <tr>
              <td>
                  <!-- <img src="img/logos/vastari-logo.png" alt="Loading..." /> -->
                  <div class="spinner">
                      <div class="rect1"></div>
                      <div class="rect2"></div>
                      <div class="rect3"></div>
                      <div class="rect4"></div>
                      <div class="rect5"></div>
                  </div>
              </td>
          </tr>
      </table>

    {% block content %}
    {% endblock %}

  </div>
  {% include "parts/_scripts.html" %}

  {% block scripts %}
  {% endblock %}
</body>
</html>
