.card {
  &.hover-reveal-4 {
    @extend .hover-reveal-3;
    .card-body {
      .content {
        justify-content: flex-end;
        padding: 0;
        .content-content {
          padding: 10px;
        }
        .action-footer {
          width: 100%;
          .action {
            background-color: $white;
          }
        }
      }
    }
  }
}