$primary:   #00bfdf !default;
$secondary: #24617f !default;

$intro-background: $secondary !default;
// $intro-title-background: $primary !default;

$section1-background: $secondary !default;
$section1-title-background: $primary !default;

$section2-background: $secondary !default;
$section2-title-background: $primary !default;


$section1-zindex: 10;
$section2-zindex: 9;


$opacity: .5;
$font-base: 500;
