body {
  font-family: 'Handlee', cursive;
/*  background-color: #ddd;*/
}

.next {
    background-color: red;
}
.all {
    background-color: green;
}
button {
  vertical-align: top;
}

button:focus {outline:0;}

.board-frame .inner-board .cell:hover{
  background: rgba(255,255,255,0.95);
  -webkit-box-shadow: 0px 0px 39px 21px rgba(255,255,255,1);
  -moz-box-shadow: 0px 0px 39px 21px rgba(255,255,255,1);
  box-shadow: 0px 0px 39px 21px rgba(255,255,255,1);
}

object {
  z-index: -5;
}

.super-board{
  /*border: 1px solid black;*/
  margin: 0 auto;
  width: 700px;
  height: 1000px;
  text-align: center;
  
}
.inner-board {
  margin-left: 25px;
  float: left;
  border: 1px solid black;
  width: 200px;
  padding: 20px;


}
.cell{
  /*border: 1px solid black;*/
  height: 50px;
  width: 50px;
}

