<div id="section5" class="section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-lg-5 last-lg">
                <div class="section-title-holder">
                    <h2 class="entry-title">Collections Success</h2>
                </div>
            </div>
            <div class="col-xs-12 col-lg-7">
                <div class="row section-content-holder">
                    <div class="col-xs-6 card-counter">
                        <div class="content">
                            <img src="img/icons/icons8-statue-64.png" class="opacity">
                            <span class="count-numbers">122</span>
                        </div>
                        <span class="description opacity add-padding">
                            Collectors who responded to our survey
                        </span>
                        <div class="vertical-divider"></div>
                    </div>
                    <div class="col-xs-6 card-counter">
                        <div class="content">
                            <img src="img/icons/icons8-university-128.png" class="opacity">
                            <span class="count-numbers">125</span>
                        </div>
                        <span class="description opacity add-padding">
                            Number of applications to museum requests
                        </span>
                    </div>
                    <div class="col-xs-12 card-counter queries">
                        <h2 class="count-numbers opacity">Most searched queries on objects</h2>
                        <span class="tag">Lego</span>
                        <span class="tag">Mandela</span>
                        <span class="tag">Leonardo</span>
                        <span class="tag">Dreamworks</span>
                        <span class="tag">Dinosaurs</span>
                        <span class="tag">Rembrandt</span>
                        <span class="tag">Picasso</span>
                        <span class="tag">Photography</span>
                        <span class="tag">Miro</span>
                        <span class="tag">Science</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>