<div id="section4" class="section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-lg-4">
                <div class="section-title-holder text-lg-right">
                    <h2 class="entry-title">Features Released</h2>
                </div>
            </div>
            <div class="col-xs-12 col-lg-8">
                <div class="section-content-holder">
                    <div class="row">
                        <div class="col-xs-6 col-md-6 portfolio-container">
                            <div class="portfolio">
                                <img class="img-responsive" src="img/demos/vastari-com.png" alt="">
                                <div class="overlay">
                                    <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit</h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-md-6 portfolio-container">
                            <div class="portfolio">
                                <img class="img-responsive" src="img/demos/vastari-com.png" alt="">
                                <div class="overlay">
                                    <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit</h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 portfolio-container">
                            <div class="portfolio">
                                <img class="img-responsive" src="img/demos/vastari-com.png" alt="">
                                <div class="overlay">
                                    <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit</h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-md-6 portfolio-container">
                            <div class="portfolio">
                                <img class="img-responsive" src="img/demos/vastari-com.png" alt="">
                                <div class="overlay">
                                    <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit</h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-md-6 portfolio-container">
                            <div class="portfolio">
                                <img class="img-responsive" src="img/demos/vastari-com.png" alt="">
                                <div class="overlay">
                                    <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit</h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 portfolio-container">
                            <div class="portfolio">
                                <img class="img-responsive" src="img/demos/vastari-com.png" alt="">
                                <div class="overlay">
                                    <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit</h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-md-6 portfolio-container">
                            <div class="portfolio">
                                <img class="img-responsive" src="img/demos/vastari-com.png" alt="">
                                <div class="overlay">
                                    <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit</h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-md-6 portfolio-container">
                            <div class="portfolio">
                                <img class="img-responsive" src="img/demos/vastari-com.png" alt="">
                                <div class="overlay">
                                    <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>