<div id="section6" class="section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-lg-4">
                <div class="section-title-holder text-lg-right">
                    <h2 class="entry-title">Exhibitions Success</h2>
                </div>
            </div>
            <div class="col-xs-12 col-lg-8">
                <div class="row section-content-holder">
                    <div class="col-xs-6 card-counter">
                        <div class="content">
                            <img src="img/icons/icons8-university-128.png" class="opacity">
                            <span class="count-numbers">89</span>
                        </div>
                        <span class="description opacity add-padding">
                            Number of applications to exhibition requests
                        </span>
                        <div class="vertical-divider"></div>
                    </div>
                    <div class="col-xs-6 card-counter queries">
                        <h2 class="count-numbers opacity">Most searched queries on exhibitions</h2>
                        <span class="tag">Lego</span>
                        <span class="tag">Mandela</span>
                        <span class="tag">Leonardo</span>
                        <span class="tag">Dreamworks</span>
                        <span class="tag">Dinosaurs</span>
                        <span class="tag">Rembrandt</span>
                        <span class="tag">Picasso</span>
                        <span class="tag">Photography</span>
                        <span class="tag">Miro</span>
                        <span class="tag">Science</span>
                    </div>

                    <div class="col-xs-12">
                        <h2 class="count-numbers opacity white-text center-text">Most popular exhibitions</h2>
                    </div>
                    <div class="col-xs-12 col-md-6 portfolio-container">
                        <div class="portfolio">
                            <img class="img-responsive" src="img/exhibitions/Leonardo-Da-Vinci.jpg" alt="">
                            <div class="overlay">
                                <h2>Leonardo Da Vinci and His Wonder World</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6 portfolio-container">
                        <div class="portfolio">
                            <img class="img-responsive" src="img/exhibitions/Leonardo-Da-Vinci.jpg" alt="">
                            <div class="overlay">
                                <h2>Leonardo Da Vinci and His Wonder World</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4 portfolio-container">
                        <div class="portfolio">
                            <img class="img-responsive" src="img/exhibitions/Leonardo-Da-Vinci.jpg" alt="">
                            <div class="overlay">
                                <h2>Leonardo Da Vinci and His Wonder World</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4 portfolio-container">
                        <div class="portfolio">
                            <img class="img-responsive" src="img/exhibitions/Leonardo-Da-Vinci.jpg" alt="">
                            <div class="overlay">
                                <h2>Leonardo Da Vinci and His Wonder World</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4 portfolio-container">
                        <div class="portfolio">
                            <img class="img-responsive" src="img/exhibitions/Leonardo-Da-Vinci.jpg" alt="">
                            <div class="overlay">
                                <h2>Leonardo Da Vinci and His Wonder World</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6 portfolio-container">
                        <div class="portfolio">
                            <img class="img-responsive" src="img/exhibitions/Leonardo-Da-Vinci.jpg" alt="">
                            <div class="overlay">
                                <h2>Leonardo Da Vinci and His Wonder World</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6 portfolio-container">
                        <div class="portfolio">
                            <img class="img-responsive" src="img/exhibitions/Leonardo-Da-Vinci.jpg" alt="">
                            <div class="overlay">
                                <h2>Leonardo Da Vinci and His Wonder World</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4 portfolio-container">
                        <div class="portfolio">
                            <img class="img-responsive" src="img/exhibitions/Leonardo-Da-Vinci.jpg" alt="">
                            <div class="overlay">
                                <h2>Leonardo Da Vinci and His Wonder World</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4 portfolio-container">
                        <div class="portfolio">
                            <img class="img-responsive" src="img/exhibitions/Leonardo-Da-Vinci.jpg" alt="">
                            <div class="overlay">
                                <h2>Leonardo Da Vinci and His Wonder World</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4 portfolio-container">
                        <div class="portfolio">
                            <img class="img-responsive" src="img/exhibitions/Leonardo-Da-Vinci.jpg" alt="">
                            <div class="overlay">
                                <h2>Leonardo Da Vinci and His Wonder World</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6 portfolio-container">
                        <div class="portfolio">
                            <img class="img-responsive" src="img/exhibitions/Leonardo-Da-Vinci.jpg" alt="">
                            <div class="overlay">
                                <h2>Leonardo Da Vinci and His Wonder World</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6 portfolio-container">
                        <div class="portfolio">
                            <img class="img-responsive" src="img/exhibitions/Leonardo-Da-Vinci.jpg" alt="">
                            <div class="overlay">
                                <h2>Leonardo Da Vinci and His Wonder World</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>