<div id="section7" class="section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-lg-4 last-lg">
                <div class="section-title-holder">
                    <h2 class="entry-title">Report Success</h2>
                </div>
            </div>
            <div class="col-xs-12 col-lg-8">
                <div class="row section-content-holder">
                    <div class="col-xs-6 card-counter">
                        <div class="content">
                            <img src="img/icons/icons8-statue-64.png" class="opacity">
                            <span class="count-numbers">4h 36m</span>
                        </div>
                        <span class="description opacity">Longest reader</span>
                        <div class="vertical-divider"></div>
                        <div class="horizontal-divider"></div>
                    </div>
                    <div class="col-xs-6 card-counter">
                        <div class="content">
                            <img src="img/icons/icons8-university-128.png" class="opacity">
                            <span class="count-numbers">
                                57 different countries
                            </span>
                        </div>
                        <span class="description opacity">
                            Geographies surveyed
                        </span>
                        <div class="horizontal-divider"></div>
                    </div>
                    <div class="col-xs-6 card-counter">
                        <div class="content">
                            <img src="img/icons/icons8-exhibition-100.png" class="opacity">
                            <span class="count-numbers">
                                French, Spanish, Arabic, Chinese, Russian?
                            </span>
                        </div>
                        <span class="description opacity">Languages report was translated to</span>
                        <div class="vertical-divider"></div>
                    </div>
                    <div class="col-xs-6 card-counter">
                        <div class="content">
                            <img src="img/icons/icons8-user-groups-64.png" class="opacity">
                            <span class="count-numbers">1040 institutions targeted</span>
                        </div>
                        <span class="description opacity">New museums we've targetted</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>