<!-- <div id="section8" class="section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-lg-4">
                <div class="section-title-holder text-lg-right">
                    <h2 class="entry-title">Press</h2>
                </div>
            </div>
            <div class="col-xs-12 col-lg-8">
                <div class="row section-content-holder">
                    <div class="col-xs-4 card-counter">
                        <div class="content">
                            <img src="img/icons/icons8-statue-64.png" class="opacity">
                            <span class="count-numbers">336</span>
                        </div>
                        <span class="description opacity">requests</span>
                        <div class="vertical-divider"></div>
                        <div class="horizontal-divider"></div>
                    </div>
                    <div class="col-xs-4 card-counter">
                        <div class="content">
                            <img src="img/icons/icons8-university-128.png" class="opacity">
                            <span class="count-numbers">9413</span>
                        </div>
                        <span class="description">
                            <a href="https://institutions.vastari.com/"
                                target="_blank">
                                Institutions
                            </a>
                        </span>
                        <div class="vertical-divider"></div>
                        <div class="horizontal-divider"></div>
                    </div>
                    <div class="col-xs-4 card-counter">
                        <div class="content">
                            <img src="img/icons/icons8-exhibition-100.png" class="opacity">
                            <span class="count-numbers">748</span>
                        </div>
                        <span class="description opacity">Exhibitions</span>
                        <div class="horizontal-divider"></div>
                    </div>
                    <div class="col-xs-4 card-counter">
                        <div class="content">
                            <img src="img/icons/icons8-user-groups-64.png" class="opacity">
                            <span class="count-numbers">3427</span>
                        </div>
                        <span class="description opacity">Clients</span>
                        <div class="vertical-divider"></div>
                    </div>
                    <div class="col-xs-4 card-counter">
                        <div class="content">
                            <img src="img/icons/icons8-address-book-80.png" class="opacity">
                            <span class="count-numbers">33260</span>
                        </div>
                        <span class="description opacity">Contacts</span>
                        <div class="vertical-divider"></div>
                    </div>
                    <div class="col-xs-4 card-counter">
                        <div class="content">
                            <img src="img/icons/icons8-survey-50.png" class="opacity">
                            <span class="count-numbers">25</span>
                        </div>
                        <span class="description opacity">Surveys sent</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->