{{ define "main" }}
<section class="content">

  <p class="title">
    <span><</span>under-construction<span>></span>
  </p>
  <div class="spacer"></div>
  <div class="logo">
    <img class="responsive-image" src="{{`images/logos/m.svg` | absURL}}">
  </div>
  <div class="socials">
    <ul class="social-networks square spin-icon">
      <li><a href="https://www.linkedin.com/in/mishalmsb/" target="_blank" class="icon-linkedin">LinkedIn</a></li>
      <li><a href="https://twitter.com/mishal_msb"  target="_blank" class="icon-twitter">Twitter</a></li>
      <li><a href="https://facebook.com/mishalmsb"  target="_blank" class="icon-facebook">Facebook</a></li>
      <li><a href="https://github.com/mishalmsb"  target="_blank" class="icon-github">GitHub</a></li>
      <li><a href="mailto:mishalmsb@gmail.com" target="_top" class="icon-envelop">Envelop</a></li>
    </ul>
  </div>
  <div class="spacer"></div>
  <p class="title">
    <span></</span>under-construction<span>></span>
  </p>
</section>

<!-- <section class="city-stuff">
  <ul class="skyscrappers__list">
    <li class="skyscrapper__item skyscrapper-1"></li>
    <li class="skyscrapper__item skyscrapper-2"></li>
    <li class="skyscrapper__item skyscrapper-3"></li>
    <li class="skyscrapper__item skyscrapper-4"></li>
    <li class="skyscrapper__item skyscrapper-5"></li>
  </ul>
  <ul class="tree__container">
    <li class="tree__list">
      <ul class="tree__item tree-1">
        <li class="tree__trunk"></li>
        <li class="tree__leaves"></li>
      </ul>
      <ul class="tree__item tree-2">
        <li class="tree__trunk"></li>
        <li class="tree__leaves"></li>
      </ul>
      <ul class="tree__item tree-3">
        <li class="tree__trunk"></li>
        <li class="tree__leaves"></li>
      </ul>
      <ul class="tree__item tree-4">
        <li class="tree__trunk"></li>
        <li class="tree__leaves"></li>
      </ul>
      <ul class="tree__item tree-5">
        <li class="tree__trunk"></li>
        <li class="tree__leaves"></li>
      </ul>
      <ul class="tree__item tree-6">
        <li class="tree__trunk"></li>
        <li class="tree__leaves"></li>
      </ul>
      <ul class="tree__item tree-7">
        <li class="tree__trunk"></li>
        <li class="tree__leaves"></li>
      </ul>
      <ul class="tree__item tree-8">
        <li class="tree__trunk"></li>
        <li class="tree__leaves"></li>
      </ul>
    </li>
  </ul>
  <ul class="crane__list crane-1">
    <li class="crane__item crane-cable crane-cable-1"></li>
    <li class="crane__item crane-cable crane-cable-2"></li>
    <li class="crane__item crane-cable crane-cable-3"></li>
    <li class="crane__item crane-stand"></li>
    <li class="crane__item crane-weight"></li>
    <li class="crane__item crane-cabin"></li>
    <li class="crane__item crane-arm"></li>
  </ul>
  <ul class="crane__list crane-2">
    <li class="crane__item crane-cable crane-cable-1"></li>
    <li class="crane__item crane-cable crane-cable-2"></li>
    <li class="crane__item crane-cable crane-cable-3"></li>
    <li class="crane__item crane-stand"></li>
    <li class="crane__item crane-weight"></li>
    <li class="crane__item crane-cabin"></li>
    <li class="crane__item crane-arm"></li>
  </ul>
  <ul class="crane__list crane-3">
    <li class="crane__item crane-cable crane-cable-1"></li>
    <li class="crane__item crane-cable crane-cable-2"></li>
    <li class="crane__item crane-cable crane-cable-3"></li>
    <li class="crane__item crane-stand"></li>
    <li class="crane__item crane-weight"></li>
    <li class="crane__item crane-cabin"></li>
    <li class="crane__item crane-arm"></li>
  </ul>
</section> -->
{{ end }}