<pre><code>
  @font-face {
    font-display: swap;
    font-family: '#{$helveticaNew}';
    font-weight: 300;
    src:
      local('system-ui'),
      url('#{$font-src-path}/#{$helveticaNew-Lightghd-font-filename}.woff2') format('woff2'),
      url('#{$font-src-path}/#{$helveticaNew-Lightghd-font-filename}.woff') format('woff');
  }
  
  @font-face {
    font-display: swap;
    font-family: '#{$helveticaNew}';
    font-weight: normal;
    src:
      local('system-ui'),
      url('#{$font-src-path}/#{$helveticaNewghd-font-filename}.woff2') format('woff2'),
      url('#{$font-src-path}/#{$helveticaNewghd-font-filename}.woff') format('woff');
  }
  
  @font-face {
    font-display: swap;
    font-family: '#{$helveticaNew}';
    font-weight: 500;
    src:
      local('system-ui'),
      url('#{$font-src-path}/#{$helveticaNew-Mediumghd-font-filename}.woff2') format('woff2'),
      url('#{$font-src-path}/#{$helveticaNew-Mediumghd-font-filename}.woff') format('woff');
  }
  
  @font-face {
    font-display: swap;
    font-family: '#{$helveticaNew}';
    font-weight: bold;
    src:
      local('system-ui'),
      url('#{$font-src-path}/#{$helveticaNew-Boldghd-font-filename}.woff2') format('woff2'),
      url('#{$font-src-path}/#{$helveticaNew-Boldghd-font-filename}.woff') format('woff');
  }
</code></pre>