{{ $current := . }}
{{ $scssPath := $current.Params.scssPath}}
{{ $location := $current.Params.location}}

{{ $stylesNav := resources.Get "scss/examples/nav.scss" | css.Sass (dict "outputStyle" "compressed") | fingerprint }}
{{ $styles := resources.Get $scssPath | css.Sass (dict "outputStyle" "compressed") | fingerprint }}

<head>
  <link rel="stylesheet" href="{{ $stylesNav.Permalink }}" />
  <link rel="stylesheet" href="{{ $styles.Permalink }}" />
</head>
<body>

	{{ $pages := where site.RegularPages "Type" "in" site.Params.mainSections }}
  <nav class="navbar-example">
    <ul class="navbar-menu">
    {{ range $pages }}
      {{ $page := . }}
      {{ if and $page.Permalink }}  
        <li>
          <a href="{{$page.Permalink}}" class="{{ if eq $page.Permalink $current.Permalink }}active{{ end }}">
            {{ if $page.Params.sortDescription }}
              {{ $page.Params.sortDescription }}
            {{ else }}
              {{ $page.Description }}
            {{ end }}
          </a>
        </li>
      {{ end }}
    {{end}}
    </ul>
  </nav>
   
   <h1>
    
   </h1>
  <h1>{{ $current.Params.description }}</h1>
  {{ $items := $current.Params.items }}
  {{ range $items }}
    <p class="{{.class}}">
      <span class="underline block">{{.class}}</span>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta nihil quia, animi in optio quibusdam nobis aperiam unde quas
    </p>
  {{ end }}


  {{ if eq $location "fonts/fonts-1" }}
    {{ .Render "font-1" }}
  {{ end }}
  {{ if eq $location "fonts/fonts-2" }}
    {{ .Render "font-2" }}
  {{ end }}
  {{ if eq $location "fonts/fonts-3" }}
    {{ .Render "font-3" }}
  {{ end }}
  {{ if eq $location "fonts/fonts-4" }}
    {{ .Render "font-4" }}
  {{ end }}
  {{ if eq $location "fonts/fonts-5" }}
    {{ .Render "font-5" }}
  {{ end }}
  {{ if eq $location "fonts/fonts-6" }}
    {{ .Render "font-6" }}
  {{ end }}
</body>