// ----- CONVERT PX TO REM --------------------------------
@function px-to-rem($values) {
  $base: 16;
  $list: ();

  @each $value in $values {
      @if not (unitless($value)) and (unit($value) != '%') {
          $value: $value / ($value * 0 + 1);
      }
      $list: if($value == 0, append($list, 0), append($list, if(unit($value) == '%', $value, ($value / $base) * 1rem)));
  }
  @return $list;
}